*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
}

main {
  background-color: #000;
  border: 2px solid black;
}

.container {
  background-color: antiquewhite;
  border: 2px solid black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
  height: 100vw;
  background-color: cadetblue;
  border: 2px solid black;
}

.first {
  text-align: center;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}
